@inherits LayoutComponentBase

<PageTitle>Ancient Coin Generater</PageTitle>

<div class="page">
  
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

</div>

<link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css">
